---
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { Badge } from "@/components/ui/badge";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required!")
}

const post = await getEntry('blogs', slug);

if (post === undefined) {
  return Astro.redirect("/404");
}
---

<Layout title={post.data.title} metadesc={post.data.tagline}>
  <div class="container p-6 lg:p-10 my-3">
    <div
      class="relative w-full overflow-hidden rounded-2xl shadow-lg"
      style="aspect-ratio: 16 / 9;"
    >
      <img
        src={post.data.thumbnail ? post.data.thumbnail : "/images/default.webp"}
        alt="Banner"
        class="absolute inset-0 w-full h-full object-cover"
      />
    </div>
    <div class="prose dark:prose-invert max-w-none mt-6">
      <h1>{post.data.title}</h1>
      <div class="flex flex-wrap gap-2 my-2">
        {
          post.data.tags
            .replace(/\s/g, "")
            .split(",")
            .map((tag: string) => {
              return (
                <a href={`/blog?tagged=${tag}`}>
                  <Badge variant="default" className="cursor-pointer">
                    {tag}
                  </Badge>
                </a>
              );
            })
        }
      </div>
      <p class="tracking-widest text-xs title-font font-medium text-gray-400">
        {post.data.author} &bull; {post.data.created}
      </p>
      <hr class="my-3" />
      <div set:html={post.rendered?.html}></div>
    </div>
  </div>
</Layout>

<style is:global>
  pre,
  code {
    @apply px-3 py-4 rounded;
  }
</style>
