---
import { getCollection, type CollectionEntry } from "astro:content";
import PostCard from "@/components/PostCard";
import Layout from "@/layouts/Layout.astro";
const query = Astro.url.searchParams.get("tagged");

let posts: CollectionEntry<'blogs'>[];

if (!query) {
  posts = await getCollection('blogs');
} else {
  let searchResults: CollectionEntry<'blogs'>[] = await getCollection('blogs');
  posts = searchResults.filter((result) => {
    return result.data.tags
              .replace(/\s/g, "")
              .split(",")
              .includes(query);
  })
}
---

<Layout title="Blog" metadesc="Browse my blog">
  <section class="text-gray-600 body-font">
    <div class="container p-5 mx-auto">
      <h1 class="text-3xl font-bold mb-6 text-center my-2 dark:text-white">
        My Blogs
      </h1>
      {
        (query && posts.length === 0) && <p class="dark:invert">No projects found containing the tag <em>"{query}"</em>.</p>
      }
      {
        (!query && posts.length === 0) && <p class="dark:invert">No projects found.</p>
      }
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          posts.map((post) => {
            return (
              <PostCard
                title={post.data.title}
                tagline={post.data.tagline}
                tags={post.data.tags}
                slug={post.data.slug}
                thumbnail={post.data.thumbnail}
                author={post.data.author}
                created={post.data.created}
                client:load
              />
            );
          })
        }
      </div>
    </div>
  </section>
</Layout>
