---
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { Badge } from "@/components/ui/badge";

const {slug} = Astro.params;
const project = await getEntry('projects', slug);

const {Content} = await project.render();
---

<Layout title={project.data.title} metadesc={project.data.tagline}>
  <div class="container p-6 lg:p-10 my-3">
    <div class="prose dark:prose-invert max-w-none">
      <h1>{project.data.title}</h1>
      <div class="flex items-center gap-8">
        {project.data.githubURL && <a href={project.data.githubURL} title="Source Code" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>}
        {project.data.youtubeURL && <a href={project.data.youtubeURL} title="YouTube Preview" target="_blank"><i class="fa-brands fa-youtube fa-2x"></i></a>}
      </div>
      <div class="flex flex-wrap gap-2 my-2">
        {project.data.tags.replace(/\s/g, "").split(",").map((tag: string) => {
          return <Badge variant="default" className="cursor-pointer" client:load>{tag}</Badge>
        })}
      </div>
      <p class="tracking-widest text-xs title-font font-medium text-gray-400">
        {project.data.author} &bull; {project.data.created}
      </p>
      <hr class="my-3">
      <Content />
    </div>
  </div>
</Layout>

<style is:global>
  pre,
  code {
    @apply px-3 py-4 rounded;
  }
</style>
