---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ProjectCard";
const query = Astro.url.searchParams.get("tagged");
let projects: CollectionEntry<'projects'>[];

if (!query) {
  projects = await getCollection('projects');
} else {
  let searchResults: CollectionEntry<'projects'>[] = await getCollection('projects');
  projects = searchResults.filter((result) => {
    return result.data.tags
              .replace(/\s/g, "")
              .split(",")
              .includes(query);
  })
}

---

<Layout title="Projects" metadesc="Browse my projects">
  <section class="text-gray-600 body-font">
    <div class="container p-5 mx-auto">
      <h1 class="text-3xl font-bold mb-6 text-center my-2 dark:text-white">My Projects</h1>
      {
        (query && projects.length === 0) && <p class="dark:invert">No projects found containing the tag <em>"{query}"</em>.</p>
      }
      {
        (!query && projects.length === 0) && <p class="dark:invert">No projects found.</p>
      }
      {
        projects &&
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          {
            projects.map(project => {
              return <ProjectCard 
              title={project.data.title}
              tagline={project.data.tagline}
              tags={project.data.tags}
              slug={project.data.slug}
              thumbnail={project.data.thumbnail}
              author={project.data.author}
              created={project.data.created}
              client:load/>;
            })
          }
        </div>
      }
    </div>
  </section>
</Layout>
