---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ProjectCard";

let projects: CollectionEntry<'projects'>[] = await getCollection('projects');
---

<Layout title="Projects" metadesc="Browse my projects">
  <section class="text-gray-600 body-font">
    <div class="container p-5 mx-auto">
      <h1 class="text-3xl font-bold mb-6 text-center my-2 dark:text-white">My Projects</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          projects.map(project => {
            return <ProjectCard 
              title={project.data.title}
              tagline={project.data.tagline}
              tags={project.data.tags}
              slug={project.data.slug}
              thumbnail={project.data.thumbnail}
              author={project.data.author}
              created={project.data.created}
            client:load/>;
          })
        }
      </div>
    </div>
  </section>
</Layout>
